# # Import Countries.csv and clean the DataFrame

In [12]:
import pandas as pd

# Replace 'filename.csv' with the path to your CSV file
df = pd.read_csv('countries.csv')

# Display the first few rows of the DataFrame
df.head()

,Country,url,Introduction: Background,Geography: Location,Geography: Geographic coordinates,Geography: Map references,Geography: Area - total,Geography: Area - land,Geography: Area - water,Geography: Area - comparative,...,Transportation: Waterways - note 2,Transportation: Waterways - top ten largest natural lakes (by surface area),Transportation: Waterways - note 3,Transportation: Ports and terminals - top twenty container ports as measured by Twenty-Foot Equivalent Units (TEUs) throughput,Transnational Issues: Refugees and internally displaced persons,Transnational Issues: Trafficking in persons - Tier 2 Watch List,Transnational Issues: Trafficking in persons - Tier 3,Transnational Issues: Illicit drugs - cocaine,Transnational Issues: Illicit drugs - opiates,Energy: Electricity access - population without electricity
0,Afghanistan,https://www.cia.gov/the-world-factbook/countri...,Ahmad Shah DURRANI unified the Pashtun tribes ...,"Southern Asia, north and west of Pakistan, eas...","33 00 N, 65 00 E",Asia,"652,230 sq km","652,230 sq km",0 sq km,almost six times the size of Virginia; slightl...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Akrotiri,https://www.cia.gov/the-world-factbook/countri...,By terms of the 1960 Treaty of Establishment t...,"Eastern Mediterranean, peninsula on the southw...","34 37 N, 32 58 E",Middle East,123 sq km,NaN,NaN,"about 0.7 times the size of Washington, DC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,https://www.cia.gov/the-world-factbook/countri...,Albania declared its independence from the Ott...,"Southeastern Europe, bordering the Adriatic Se...","41 00 N, 20 00 E",Europe,"28,748 sq km","27,398 sq km","1,350 sq km",slightly smaller than Maryland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,https://www.cia.gov/the-world-factbook/countri...,Algeria has known many empires and dynasties s...,"Northern Africa, bordering the Mediterranean S...","28 00 N, 3 00 E",Africa,"2,381,740 sq km","2,381,740 sq km",0 sq km,slightly less than 3.5 times the size of Texas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,American Samoa,https://www.cia.gov/the-world-factbook/countri...,Tutuila was settled by 1000 B.C. and the islan...,"Oceania, group of islands in the South Pacific...","14 20 S, 170 00 W",Oceania,224 sq km,224 sq km,0 sq km,"slightly larger than Washington, DC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Clear out unnecessary columns
df = df[['Country', 
                             'People and Society: Population', 
                             'People and Society: Median age - total', 
                             'People and Society: Obesity - adult prevalence rate', 
                             'Economy: Real GDP per capita']]
df

,Country,People and Society: Population,People and Society: Median age - total,People and Society: Obesity - adult prevalence rate,Economy: Real GDP per capita
0,Afghanistan,"38,346,720 (2022 est.)",19.5 years,5.5% (2016),"$1,500 (2021 est.)$2,000 (2020 est.)$2,100 (20..."
1,Akrotiri,"(2020) approximately 18,195 on the Sovereign B...",NaN,NaN,NaN
2,Albania,"3,095,344 (2022 est.)",34.3 years,21.7% (2016),"$14,500 (2021 est.)$13,300 (2020 est.)$13,700 ..."
3,Algeria,"44,178,884 (2022 est.)",28.9 years,27.4% (2016),"$11,000 (2021 est.)$10,800 (2020 est.)$11,600 ..."
4,American Samoa,"45,443 (2022 est.)",27.2 years,NaN,"$11,200 (2016 est.)$11,300 (2015 est.)$11,200 ..."
...,...,...,...,...,...
253,West Bank,"3,000,021 (2022 est.)",21.9 years,NaN,"$5,600 (2021 est.)$5,400 (2020 est.)$6,200 (20..."
254,World,"7,905,336,896 (July 2022 est.)",31 years,NaN,"$17,000 (2021 est.)$16,200 (2020 est.)$16,800 ..."
255,Yemen,"30,984,689 (2022 est.)",19.8 years (2018 est.),17.1% (2016),"$2,500 (2017 est.)$2,700 (2016 est.)$3,200 (20..."
256,Zambia,"19,642,123 (2022 est.)",16.9 years,8.1% (2016),"$3,200 (2021 est.)$3,200 (2020 est.)$3,400 (20..."
257,Zimbabwe,"15,121,004 (2022 est.)",20.5 years,15.5% (2016),"$2,100 (2021 est.)$2,000 (2020 est.)$2,200 (20..."

In [4]:
# Remove parentheses and everything inside them from the "Economy: Real GDP per capita" column
df['Economy: Real GDP per capita'] = df['Economy: Real GDP per capita'].str.replace(r'\(.*\)', '')

# Split each cell into multiple columns using the "$" character as the separator
df_new = df['Economy: Real GDP per capita'].str.split('$', expand=True)

# Keep only the first column containing the desired data and rename the column
df_new = df_new[[0]].rename(columns={0: 'New_Column_Name'})

# Merge the modified column back into the original dataframe
df = pd.concat([df, df_new], axis=1)

# Remove the final column and show the dataframe
countries_df = df.drop(columns=['New_Column_Name'])

C:\Users\Micha\AppData\Local\Temp\ipykernel_25184\2611995571.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Economy: Real GDP per capita'] = df['Economy: Real GDP per capita'].str.replace(r'\(.*\)', '')
C:\Users\Micha\AppData\Local\Temp\ipykernel_25184\2611995571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Economy: Real GDP per capita'] = df['Economy: Real GDP per capita'].str.replace(r'\(.*\)', '')

In [5]:
countries_df

,Country,People and Society: Population,People and Society: Median age - total,People and Society: Obesity - adult prevalence rate,Economy: Real GDP per capita
0,Afghanistan,"38,346,720 (2022 est.)",19.5 years,5.5% (2016),"$1,500"
1,Akrotiri,"(2020) approximately 18,195 on the Sovereign B...",NaN,NaN,NaN
2,Albania,"3,095,344 (2022 est.)",34.3 years,21.7% (2016),"$14,500"
3,Algeria,"44,178,884 (2022 est.)",28.9 years,27.4% (2016),"$11,000"
4,American Samoa,"45,443 (2022 est.)",27.2 years,NaN,"$11,200"
...,...,...,...,...,...
253,West Bank,"3,000,021 (2022 est.)",21.9 years,NaN,"$5,600"
254,World,"7,905,336,896 (July 2022 est.)",31 years,NaN,"$17,000"
255,Yemen,"30,984,689 (2022 est.)",19.8 years (2018 est.),17.1% (2016),"$2,500"
256,Zambia,"19,642,123 (2022 est.)",16.9 years,8.1% (2016),"$3,200"
257,Zimbabwe,"15,121,004 (2022 est.)",20.5 years,15.5% (2016),"$2,100"

## Bring in World Happiness Report

In [7]:
whr21_df = pd.read_csv('world-happiness-report-2021.csv')

whr21_df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [23]:
whr21_df2 = whr21_df[['Country name', 
                      'Healthy life expectancy', 
                      'Ladder score']]

whr21_df2 = whr21_df2.rename(columns={'Country name': 'Country'})

whr21_df2

         Country  Healthy life expectancy  Ladder score
0        Finland                   72.000         7.842
1        Denmark                   72.700         7.620
2    Switzerland                   74.400         7.571
3        Iceland                   73.000         7.554
4    Netherlands                   72.400         7.464
..           ...                      ...           ...
144      Lesotho                   48.700         3.512
145     Botswana                   59.269         3.467
146       Rwanda                   61.400         3.415
147     Zimbabwe                   56.201         3.145
148  Afghanistan                   52.493         2.523

[149 rows x 3 columns]

## Bring in GymData

In [19]:
gd_df = pd.read_csv('gym_data.csv')

# Display the first few rows of the DataFrame
gd_df.head()

,Country,Total Revenue (USD),Total Number of Gyms,Total Members,Member Penetration Rate,Members Per Gym,Annual RevenueÂ Per Gym,Annual Revenue Per Member
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark,"$427,771,557","1,426","1,098,000",18.90%,769.985975,"$299,980.05",$389.59
2,United Arab Emirates,"$419,100,000",846,"537,313",5.58%,635.121749,"$495,390.07",$779.99
3,Taiwan,"$407,000,000",300,"710,000",2.99%,2366.666667,"$1,356,666.67",$573.24
4,New Zealand,"$405,000,000",690,"650,000",13.60%,942.028985,"$586,956.52",$623.08

In [24]:
gym_data_df = gd_df[['Country', 
                     'Total Number of Gyms', 
                     'Total Members', 
                     'Members Per Gym', 
                     'Annual Revenue Per Member']]

gym_data_df = gym_data_df.dropna()

gym_data_df

,Country,Total Number of Gyms,Total Members,Members Per Gym,Annual Revenue Per Member
1,Denmark,"1,426","1,098,000",769.985975,$389.59
2,United Arab Emirates,846,"537,313",635.121749,$779.99
3,Taiwan,300,"710,000",2366.666667,$573.24
4,New Zealand,690,"650,000",942.028985,$623.08
5,Hong Kong,180,"430,000",2388.888889,$920.93
6,Belgium,900,"882,000",980.000000,$445.64
7,Colombia,"1,752","979,000",558.789954,$384.07
8,Singapore,200,"320,000",1600.000000,"$1,100.00"
9,Ukraine,"1,596","1,270,000",795.739348,$260.12
10,Portugal,"1,100","688,000",625.454545,$475.27
11,Ireland,720,"515,000",715.277778,$624.06
12,Indonesia,370,"470,000",1270.270270,$576.60
13,Philippines,950,"530,000",557.894737,$483.02
14,Kuwait,610,"365,006",598.370492,$659.99
15,Hungary,927,"544,000",586.839267,$430.23
16,Thailand,600,"350,000",583.333333,$665.71
17,Malaysia,375,"330,000",880.000000,$609.09
18,Vietnam,640,"440,000",687.500000,$422.73
19,Chile,"1,969","490,000",248.857288,$359.18
20,Peru,"1,681","562,000",334.324807,$300.71
21,Lebanon,342,"182,507",533.646199,$662.99
22,Morocco,392,"192,224",490.367347,$491.61
23,Ecuador,989,"260,100",262.992922,$299.88
24,Qatar,240,"112,439",468.495833,$631.45
25,Bahrain,180,"100,409",557.827778,$671.25
26,Oman,170,"95,226",560.152941,$685.74
27,Paraguay,641,"160,400",250.234009,$311.72
28,CostaÂ Rica,362,"137,600",380.110497,$334.30
29,Jordan,153,"84,235",550.555556,$503.35
30,Bolivia,957,"189,800",198.328109,$210.75
31,Uruguay,308,"79,600",258.441558,$477.39
32,Panama,338,"86,900",257.100592,$391.25
33,DominicanÂ Republic,691,"132,700",192.040521,$248.68
34,Guatemala,440,"109,200",248.181818,$247.25
35,Venezuela,668,"169,800",254.191617,$153.12
36,Honduras,115,"28,800",250.434783,$243.06
37,El Salvador,89,"19,800",222.471910,$252.53
38,Nicaragua,68,"15,700",230.882353,$254.78
39,South Africa,"1,092","2,263,175",2072.504579,$0.75

## Merge the DataFrames

In [25]:
merged_df = pd.merge(gym_data_df, countries_df, on='Country')

merged_df

,Country,Total Number of Gyms,Total Members,Members Per Gym,Annual Revenue Per Member,People and Society: Population,People and Society: Median age - total,People and Society: Obesity - adult prevalence rate,Economy: Real GDP per capita
0,Denmark,"1,426","1,098,000",769.985975,$389.59,"5,920,767 (2022 est.)",42 years,19.7% (2016),"$58,000"
1,United Arab Emirates,846,"537,313",635.121749,$779.99,"9,915,803 (2022 est.)",38.4 years,31.7% (2016),"$69,700"
2,Taiwan,300,"710,000",2366.666667,$573.24,"23,580,712 (2022 est.)",42.3 years,NaN,"$24,502"
3,New Zealand,690,"650,000",942.028985,$623.08,"5,053,004 (2022 est.)",37.2 years,30.8% (2016),"$42,900"
4,Hong Kong,180,"430,000",2388.888889,$920.93,"7,276,588 (2022 est.)",45.6 years,NaN,"$60,000"
5,Belgium,900,"882,000",980.000000,$445.64,"11,847,338 (2022 est.)",41.6 years,22.1% (2016),"$51,700"
6,Colombia,"1,752","979,000",558.789954,$384.07,"49,059,221 (2022 est.)",31.2 years,22.3% (2016),"$14,600"
7,Singapore,200,"320,000",1600.000000,"$1,100.00","5,921,231 (2022 est.)",35.6 years,6.1% (2016),"$106,000"
8,Ukraine,"1,596","1,270,000",795.739348,$260.12,"43,528,136 (2022 est.)",41.2 years,24.1% (2016),"$12,900"
9,Portugal,"1,100","688,000",625.454545,$475.27,"10,242,081 (2022 est.)",44.6 years,20.8% (2016),"$33,700"
10,Ireland,720,"515,000",715.277778,$624.06,"5,275,004 (2022 est.)",37.8 years,25.3% (2016),"$102,500"
11,Indonesia,370,"470,000",1270.270270,$576.60,"277,329,163 (2022 est.)",31.1 years,6.9% (2016),"$11,900"
12,Philippines,950,"530,000",557.894737,$483.02,"114,597,229 (2022 est.)",24.1 years,6.4% (2016),"$8,100"
13,Kuwait,610,"365,006",598.370492,$659.99,"3,068,155 (2022 est.)",29.7 years,37.9% (2016),"$43,900"
14,Hungary,927,"544,000",586.839267,$430.23,"9,699,577 (2022 est.)",43.6 years,26.4% (2016),"$33,600"
15,Thailand,600,"350,000",583.333333,$665.71,"69,648,117 (2022 est.)",39 years,10% (2016),"$17,100"
16,Malaysia,375,"330,000",880.000000,$609.09,"33,871,431 (2022 est.)",29.2 years,15.6% (2016),"$26,300"
17,Vietnam,640,"440,000",687.500000,$422.73,"103,808,319 (2022 est.)",31.9 years,2.1% (2016),"$10,600"
18,Chile,"1,969","490,000",248.857288,$359.18,"18,430,408 (2022 est.)",35.5 years,28% (2016),"$25,400"
19,Peru,"1,681","562,000",334.324807,$300.71,"32,275,736 (2022 est.)",29.1 years,19.7% (2016),"$12,500"
20,Lebanon,342,"182,507",533.646199,$662.99,"5,296,814 (2022 est.)",33.7 years,32% (2016),"$13,000"
21,Morocco,392,"192,224",490.367347,$491.61,"36,738,229 (2022 est.)",29.1 years,26.1% (2016),"$8,100"
22,Ecuador,989,"260,100",262.992922,$299.88,"17,289,554 (2022 est.)",28.8 years,19.9% (2016),"$10,700"
23,Qatar,240,"112,439",468.495833,$631.45,"2,508,182 (2022 est.)",33.7 years,35.1% (2016),"$92,900"
24,Bahrain,180,"100,409",557.827778,$671.25,"1,540,558 (2022 est.)",32.9 years,29.8% (2016),"$49,400"
25,Oman,170,"95,226",560.152941,$685.74,"3,764,348 (2022 est.)",26.2 years,27% (2016),"$34,300"
26,Paraguay,641,"160,400",250.234009,$311.72,"7,356,409 (2022 est.)",29.7 years,20.3% (2016),"$13,700"
27,Jordan,153,"84,235",550.555556,$503.35,"10,998,531 (2022 est.)",23.5 years,35.5% (2016),"$9,200"
28,Bolivia,957,"189,800",198.328109,$210.75,"12,054,379 (2022 est.)",25.3 years,20.2% (2016),"$8,100"
29,Uruguay,308,"79,600",258.441558,$477.39,"3,407,213 (2022 est.)",35.5 years,27.9% (2016),"$22,800"
30,Panama,338,"86,900",257.100592,$391.25,"4,337,768 (2022 est.)",30.1 years,22.7% (2016),"$29,000"
31,Guatemala,440,"109,200",248.181818,$247.25,"17,703,190 (2022 est.)",23.2 years,21.2% (2016),"$8,900"
32,Venezuela,668,"169,800",254.191617,$153.12,"29,789,730 (2022 est.)",30 years,25.6% (2016),"$7,704"
33,Honduras,115,"28,800",250.434783,$243.06,"9,459,440 (2022 est.)",24.4 years,21.4% (2016),"$5,600"
34,El Salvador,89,"19,800",222.471910,$252.53,"6,568,745 (2022 est.)",27.7 years,24.6% (2016),"$9,100"
35,Nicaragua,68,"15,700",230.882353,$254.78,"6,301,880 (2022 est.)",27.3 years,23.7% (2016),"$5,600"
36,South Africa,"1,092","2,263,175",2072.504579,$0.75,"57,516,665 (2022 est.)",28 years,28.3% (2016),"$13,300"

In [26]:
merged_df2 = pd.merge(merged_df, whr21_df2, on='Country')

merged_df2

,Country,Total Number of Gyms,Total Members,Members Per Gym,Annual Revenue Per Member,People and Society: Population,People and Society: Median age - total,People and Society: Obesity - adult prevalence rate,Economy: Real GDP per capita,Healthy life expectancy,Ladder score
0,Denmark,"1,426","1,098,000",769.985975,$389.59,"5,920,767 (2022 est.)",42 years,19.7% (2016),"$58,000",72.700,7.620
1,United Arab Emirates,846,"537,313",635.121749,$779.99,"9,915,803 (2022 est.)",38.4 years,31.7% (2016),"$69,700",67.333,6.561
2,New Zealand,690,"650,000",942.028985,$623.08,"5,053,004 (2022 est.)",37.2 years,30.8% (2016),"$42,900",73.400,7.277
3,Belgium,900,"882,000",980.000000,$445.64,"11,847,338 (2022 est.)",41.6 years,22.1% (2016),"$51,700",72.199,6.834
4,Colombia,"1,752","979,000",558.789954,$384.07,"49,059,221 (2022 est.)",31.2 years,22.3% (2016),"$14,600",68.001,6.012
5,Singapore,200,"320,000",1600.000000,"$1,100.00","5,921,231 (2022 est.)",35.6 years,6.1% (2016),"$106,000",76.953,6.377
6,Ukraine,"1,596","1,270,000",795.739348,$260.12,"43,528,136 (2022 est.)",41.2 years,24.1% (2016),"$12,900",64.902,4.875
7,Portugal,"1,100","688,000",625.454545,$475.27,"10,242,081 (2022 est.)",44.6 years,20.8% (2016),"$33,700",72.600,5.929
8,Ireland,720,"515,000",715.277778,$624.06,"5,275,004 (2022 est.)",37.8 years,25.3% (2016),"$102,500",72.400,7.085
9,Indonesia,370,"470,000",1270.270270,$576.60,"277,329,163 (2022 est.)",31.1 years,6.9% (2016),"$11,900",62.236,5.345
10,Philippines,950,"530,000",557.894737,$483.02,"114,597,229 (2022 est.)",24.1 years,6.4% (2016),"$8,100",62.000,5.880
11,Kuwait,610,"365,006",598.370492,$659.99,"3,068,155 (2022 est.)",29.7 years,37.9% (2016),"$43,900",66.900,6.106
12,Hungary,927,"544,000",586.839267,$430.23,"9,699,577 (2022 est.)",43.6 years,26.4% (2016),"$33,600",68.000,5.992
13,Thailand,600,"350,000",583.333333,$665.71,"69,648,117 (2022 est.)",39 years,10% (2016),"$17,100",67.401,5.985
14,Malaysia,375,"330,000",880.000000,$609.09,"33,871,431 (2022 est.)",29.2 years,15.6% (2016),"$26,300",67.102,5.384
15,Vietnam,640,"440,000",687.500000,$422.73,"103,808,319 (2022 est.)",31.9 years,2.1% (2016),"$10,600",68.034,5.411
16,Chile,"1,969","490,000",248.857288,$359.18,"18,430,408 (2022 est.)",35.5 years,28% (2016),"$25,400",70.000,6.172
17,Peru,"1,681","562,000",334.324807,$300.71,"32,275,736 (2022 est.)",29.1 years,19.7% (2016),"$12,500",68.250,5.840
18,Lebanon,342,"182,507",533.646199,$662.99,"5,296,814 (2022 est.)",33.7 years,32% (2016),"$13,000",67.355,4.584
19,Morocco,392,"192,224",490.367347,$491.61,"36,738,229 (2022 est.)",29.1 years,26.1% (2016),"$8,100",66.208,4.918
20,Ecuador,989,"260,100",262.992922,$299.88,"17,289,554 (2022 est.)",28.8 years,19.9% (2016),"$10,700",68.800,5.764
21,Bahrain,180,"100,409",557.827778,$671.25,"1,540,558 (2022 est.)",32.9 years,29.8% (2016),"$49,400",69.495,6.647
22,Paraguay,641,"160,400",250.234009,$311.72,"7,356,409 (2022 est.)",29.7 years,20.3% (2016),"$13,700",65.900,5.653
23,Jordan,153,"84,235",550.555556,$503.35,"10,998,531 (2022 est.)",23.5 years,35.5% (2016),"$9,200",67.000,4.395
24,Bolivia,957,"189,800",198.328109,$210.75,"12,054,379 (2022 est.)",25.3 years,20.2% (2016),"$8,100",63.901,5.716
25,Uruguay,308,"79,600",258.441558,$477.39,"3,407,213 (2022 est.)",35.5 years,27.9% (2016),"$22,800",69.100,6.431
26,Panama,338,"86,900",257.100592,$391.25,"4,337,768 (2022 est.)",30.1 years,22.7% (2016),"$29,000",69.652,6.180
27,Guatemala,440,"109,200",248.181818,$247.25,"17,703,190 (2022 est.)",23.2 years,21.2% (2016),"$8,900",64.958,6.435
28,Venezuela,668,"169,800",254.191617,$153.12,"29,789,730 (2022 est.)",30 years,25.6% (2016),"$7,704",66.700,4.892
29,Honduras,115,"28,800",250.434783,$243.06,"9,459,440 (2022 est.)",24.4 years,21.4% (2016),"$5,600",67.300,5.919
30,El Salvador,89,"19,800",222.471910,$252.53,"6,568,745 (2022 est.)",27.7 years,24.6% (2016),"$9,100",66.402,6.061
31,Nicaragua,68,"15,700",230.882353,$254.78,"6,301,880 (2022 est.)",27.3 years,23.7% (2016),"$5,600",67.657,5.972
32,South Africa,"1,092","2,263,175",2072.504579,$0.75,"57,516,665 (2022 est.)",28 years,28.3% (2016),"$13,300",56.904,4.956